{% extends 'base/base.html' %}
{% load static %}
{% load my_tags %}
{% block extCSS %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'blog/css/base_main.css' %}">
{% endblock %}
{% block header %}
    <!--顶部导航-->
<div class="layui-header my-header">
    <div class="layui-container">
        <ul class="layui-nav layui-bg-cyan">
            <li class="layui-nav-item"><a href="{% url 'home' %}">首页</a></li>
            <li class="layui-nav-item">
                <a href="javascript:void(0);">分类</a>
                <dl class="layui-nav-child" id="category">
                    <dd><a href="">{% get_categories %}</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="{% url 'blog:get_all_blog' %}">博客</a></li>
            <li class="layui-nav-item"><a href="{% url 'blog:web_nav' %}">网站导航</a></li>
            <li class="layui-nav-item"><a href="{% url 'blog:archives' %}">归档</a></li>
            <li class="layui-nav-item"><a href="{% url 'blog:message_board' %}">留言板</a></li>
            <li class="layui-nav-item"><a href="{% url 'blog:about' %}">关于我</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right layui-bg-cyan">
{#            <li class="layui-nav-item">#}
{#                <a href="javascript:void(0);">#}
{#                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">#}
{#                    贤心#}
{#                </a>#}
{#                <dl class="layui-nav-child">#}
{#                    <dd><a href="">基本资料</a></dd>#}
{#                    <dd><a href="">安全设置</a></dd>#}
{#                </dl>#}
{#            </li>#}
{#            <li class="layui-nav-item"><a href="">退了</a></li>#}
        </ul>
    </div>
</div>
    <a href="javascript:void(0)" class="return_top">
        <i class="layui-icon layui-icon-top"></i>
    </a>
{% endblock %}

{% block footer %}
        <footer class="my_footer" >
        <div>
            <a href="http://www.miitbeian.gov.cn" target="_blank">豫ICP备19007926号-1</a>
            <span style="color: white">©2019 <a href="http://www.panglb.top/" target="_blank">panglb.top</a> </span>
            <font color="white">Powered&nbsp;by&nbsp;<a href="https://www.djangoproject.com/" target="_blank">Django
            </a>and&nbsp;<a href="https://www.layui.com/" target="_blank" style="color: #5FB878">&nbsp;layui</a></font>
            <a href="{% url 'sitemap' %}" target="_blank">网站地图</a>
        </div>
        <div >
            <span id="div_time" style="color: white"></span>
            <span style="color: white" id="visit_ips"></span>
        </div>
        </footer>

{% endblock %}

{% block extJS %}
    {{ block.super }}
    <script src="{% static 'blog/js/base_main.js' %}"></script>
    <script>
        $(function () {
            $.getJSON('{% url "blog:get_onlines_ips" %}', function(data){
                if(data['code']==='200'){
                    $('#visit_ips').html(data['data_html'])
                }
            })
        })
    </script>
{% endblock %}