{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="keywords" content="Hubery,个人博客,Django,Python">
    <meta name="description" content="记录个人学习笔记的博客小站，主要涉及python,Django等">
    {% block meta %}
    {% endblock %}
    <link rel="icon" href="{% static 'image/hubery.icon' %}">
    {% compress css file base %}
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">

    <link rel="stylesheet" href="{% static 'layui/css/modules/layui-icon-extend/iconfont.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endcompress %}

    <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script>
        if (!window.jQuery) {
            var script = document.createElement('script');
            script.src = "{% static 'js/jquery.js' %}";
            document.head.appendChild(script);
        }
    </script>
     <script src="//layui.hcwl520.com.cn/layui-v2.5.3/layui.js?v=201906040202"></script>

    {#    <script type="text/javascript" src="{% static 'layui/layui.js' %}"></script>#}
    <script>
        if (typeof layui === 'undefined') {
            var sc = document.createElement('script');
            sc.src = "{% static 'layui/layui.js' %}";
            document.head.appendChild(sc);
        }
    </script>
    <script src="https://cdn.bootcss.com/particles.js/2.0.0/particles.min.js"></script>
     <script>
        if (typeof pJS === 'undefined') {
            var sc = document.createElement('script');
            sc.src = "{% static 'js/particles.js' %}";
        document.head.appendChild(sc);
        }
    </script>
  <script>
    (function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
      if (curProtocol === 'https'){
      bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
      }
      else{
      bp.src = 'http://push.zhanzhang.baidu.com/push.js';
      }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
      })();
  </script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script>
  if (typeof Cookies === 'undefined') {
      var sc = document.createElement('script');
      sc.src = "{% static 'js/js.cookie.js' %}";
      document.head.appendChild(sc);
  }
  </script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block extCSS %}

    {% endblock %}
    <!--根据cookies判断是否启用暗色主题-->
    {% if request.COOKIES.toggleTheme == "dark" %}
        <link rel="stylesheet" id="theme-css-dark" href="{% static 'css/night.css' %}">
    {% endif %}
</head>
<body>
    {% block header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

    {% block extJS %}
    {% endblock %}
</body>
</html>