.my-header {
    background-color: #2F4056;
}

/*文章列表*/
.item-list {
    margin-top: 15px;
}

.item-list .my-article {
    overflow: hidden;
}

.item-list .article-border {
    background-color: white;
    padding: 20px 10px
}


.item-list .article-border .my-article {
    height: 150px;
    padding: 0 10px
}

.item-list .article-border .my-article > div:nth-child(2) {
    margin-top: 5px;
}

.item-list .article-border .my-article .blo_content {
    margin-top: 5px;
}
.item-list .article-border .my-article .my-article-info {
    color: #919898;
    height: 33px;
    line-height: 33px;
}
.item-list .article-border .my-article .my-article-info > span {
    margin-left: 10px;
}

.page {
    background-color: white;
    text-align: center;
    height: 60px;
    line-height: 60px;
}

/*返回顶部*/
.return_top {
    position: fixed;
    display: none;
    bottom: 80px;
    right: 0;
    width: 70px;
    height: 70px;
    background-color: #393D49;
    text-align: center;
    border-radius: 50%;
    z-index: 999
}

.return_top i {
    font-size: 60px;
    color: white;
}

/*底部样式*/
html { height: 100%; }

body { min-height: 100%; box-sizing: border-box; padding-bottom: 60px; position: relative; }

.my_footer {
    background-color: #2F4056;
    line-height: 25px;
    padding: 5px 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.my_footer > div{
    text-align: center;
}
.my_footer > div a {
    color: #5FB878;
}

/*搜索框的样式 */
.my-search {
margin-top: 15px;
height: 70px;
background-color: white;
line-height: 70px;
vertical-align: middle;
}

.my-search .search-input {
    padding: 6px 12px;
    font-size: 14px;
    width: 300px;
    margin-left: 20px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.my-search  .search-input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.my-search button {
    background-color: snow;
    border: 0px;

}

.my-search  .search-btn {
    position: absolute;
    left: 320px;
    cursor: pointer;
    z-index: 33;
}

@media (max-width: 1280px){
    .my-search .search-input {
        width: 250px;
        margin-left: 15px;
    }
    .my-search  .search-btn {
        left: 277px;
    }
}



