
/*个人信息*/
.my-cart {
    height: 260px;
    /*width: 100%;*/
    background-color: white;
    padding: 10px 20px
}

.my-cart .my-icon {
    text-align: center;
}

.my-cart .my-icon > div > img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 1px solid red
}

.my-cart .my-consultation li:first-child {
    float: left;
    margin-left: 10px;
}
.my-cart .my-consultation li {
    float: left;
    margin-left: 20px;
}
.my-cart .my-consultation li i {
    font-size: 30px;
}
.my-cart .my-consultation li i:hover {
    color: #1E9FFF;
}


.my-search {
    margin-top: 15px;
    height: 70px;
    background-color: white;
    line-height: 70px;
    vertical-align: middle;
}
.my-search .search-input {
    padding: 6px 12px;
    font-size: 14px;
    width: 280px;
    margin-left: 20px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.my-search  .search-input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.my-search button {
    background-color: snow;
    border: 0px;

}

.my-search  .search-btn {
    position: absolute;
    right: 65px;
    cursor: pointer;
    z-index: 33;
}


.top_blog > div > ul >li {
    margin-top: 10px;
}

.top_blog a {
    color: #01AAED;
}

.random_blog a {
    color: #01AAED;
}

.random_blog > div > ul > li {
    margin-top: 10px;
}

/*标签云*/
#tagscloud {
    width:250px;
    height:260px;
    position:relative;
    font-size:12px;
    color:#333;
    margin:20px auto 0;
    text-align:center;
}
#tagscloud a{
    position:absolute;
    top:0px;
    left:0px;
    color:#333;
    font-family:Arial;
    text-decoration:none;
    margin:0 10px 15px 0;
    line-height:18px;
    text-align:center;
    font-size:12px;
    padding:1px 5px;
    display:inline-block;
    border-radius:3px;
}

#tagscloud a.tagc1{background:#666;color:#fff;}
#tagscloud a.tagc2{background:#F16E50;color:#fff;}
#tagscloud a.tagc3{background:#006633;color:#fff;}
#tagscloud a.tagc4{background:#FFB800;color:#fff;}
#tagscloud a.tagc5{background:#5FB878;color:#fff;}
#tagscloud a:hover{color:#fff;background:#0099ff;}
