{% extends 'base/base_main.html' %}
{% load static %}
{% load my_tags %}
{% block extCSS %}
    {{ block.super }}
    <style>
    #particles-js{
        width: 100%;
        height: 100%;
        background-color: #f2f2f2;
        background-image: url('');
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    </style>
{% endblock %}
{% block content %}
    <div id="particles-js"></div>
    <div class="layui-container">
        <div class="layui-tab layui-tab-brief" style="background-color: white; min-height: 500px">
          <ul class="layui-tab-title">
            {% for hot in hot_queryset %}
               {% if forloop.first %}
                   <li class="layui-this">{{ hot.hot_name }}</li>
               {% else %}
                   <li>{{ hot.hot_name }}</li>
               {% endif %}
            {% endfor %}
          </ul>
          <div class="layui-tab-content">
              {% for hot in hot_queryset %}
                  {% if forloop.first %}
                      <div class="layui-tab-item layui-show">
                      <table class="layui-table">
                        <tbody>
                            {% for hot_content in hot.content|eval_data %}
                                <tr>
                                <td><a href="{{ hot_content.href }}" target="_blank">
                                    {{ forloop.counter }}.&nbsp;{{ hot_content.title }}</a></td>
                                </tr>
                            {% empty %}
                                <tr>
                                <td>no data</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                      </div>
                  {% else %}
                      <div class="layui-tab-item">
                      <table class="layui-table">
                        <tbody>
                            {% for hot_content in hot.content|eval_data %}
                                <tr>
                                <td><a href="{{ hot_content.href }}" target="_blank">
                                    {{ forloop.counter }}.&nbsp;{{ hot_content.title }}</a></td>
                                </tr>
                            {% empty %}
                                <tr>
                                <td>no data</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                      </div>
                  {% endif %}
              {% endfor %}
          </div>
        </div>
    </div>
{% endblock %}

{% block extJS %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/background.js' %}"></script>
    <script>
        $('.layui-nav-item').eq(7).addClass('layui-this');
    </script>

{% endblock %}